.data{
  display: flex;
}

#movie-details {
  margin-left: 50px; 
  font-size: larger;
  color: darkmagenta;
}
#films{
  font-size: larger;
}
body{
  background-image: url(j.jpg);
}
h1{
  color: blue;
}
button{
  background-color: darkgreen;
  color:white;
  font-size: large;
}
.film.item.sold-out{
  color: red;
}
img{
  height: 20cm;
  width: 20cm;
}
.moviedata{
  border-style:groove ;
  border-radius: 1cm;
  background-color: lavender;
}